body {
    background-image: url(https://wallpapers.com/images/hd/pastel-phone-1080-x-1920-background-j4dg64855pusy00n.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}