body{
    background-image: url(https://media.istockphoto.com/id/1459373176/es/vector/fondo-abstracto-desenfocado-primavera-verano-mar.jpg?s=612x612&w=0&k=20&c=3TfmQIt0uGI0br0VwykBoOzJ1-IAUuGztrzkd3KbaUQ=);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: enter;
    font-family: Arial, sans-serif;
    text-align: center;
}
